<ion-view view-title="<i class='ion-fork'></i><span class='apptitle'>{{appTitle}}</span> <i class='ion-knife'></i>">
  <ion-content>
  <div class="container-fluid">
 


 <!--<div class="row">
<div class="col-xs-12">
  <div class="col-xs-4 foodbuckets" ng-repeat="food in foodtypes"><a href="#/tab/search/{{food}}"><h4>{{food}}</h4></a>
  </div>
 </div>

</div>-->

<div class="row gallery">
     <div class="col col-33 foodbuckets" ng-repeat="food in foodtypes"><a href="#/tab/search/{{food}}"><h4>{{food}}</h4></a></div>

</div>


 </div> 
   
</ion-content>
</ion-view>

